<div class="container">
  <h1 class="mt-3">Coins Angular</h1>

  <input 
    type="text" 
    placeholder="Search text"
    class="form-control bg-dark text-light border-0 my-4 text-center"
    (keyup)="searchCoin()"
    [(ngModel)]="searchText"
  >

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th *ngFor="let title of titles">
          {{ title }}
        </th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let coin of coins; index as i">
  
        <td>
          {{ i + 1 }}
        </td>
  
        <td> 
          <span>{{ coin.baseId }}</span>
          <span class="text-uppercase ms-2">{{ coin.baseSymbol }}</span>
        </td>
  
        <td> 
          <span>{{ coin.priceUsd | currency }}</span>
        </td>
  
        <td [ngClass]="Number(coin.priceQuote) > 0 ? 'text_success' :  'text_danger'"> 
          <span>{{ coin.priceQuote | currency }}</span>
        </td>
  
        <td> 
          {{coin.volumeUsd24Hr | number}}
        </td>
  
      </tr>
    </tbody>
  
  </table>

</div>

